<!-- Start: Header -->
<header class="navbar navbar-fixed-top bg-light">
    <div class="navbar-branding">
        <a class="navbar-brand" href="#"> <b>律云仲裁平台</b>  定时任务系统 </a>
        <span id="toggle_sidemenu_l" class="glyphicons glyphicons-show_lines"></span>
        <ul class="nav navbar-nav pull-right hidden">
            <li>
                <a href="#" class="sidebar-menu-toggle">
                    <span class="octicon octicon-ruby fs20 mr10 pull-right "></span>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a class="request-fullscreen toggle-active" href="#">
                <span class="octicon octicon-screen-full fs18"></span>
            </a>
        </li>
    </ul>
    <form class="navbar-form navbar-left navbar-search ml5" role="search">
        <div class="form-group">
            <input class="form-control" placeholder="Search..." value="">
        </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-item-slide">
            <a class="dropdown-toggle pl10 pr10" data-toggle="dropdown" href="#">
                <span class="octicon octicon-radio-tower fs18"></span>
            </a>
            <ul class="dropdown-menu dropdown-hover dropdown-persist pn w350 bg-white animated animated-shorter fadeIn"
                role="menu">
                <li class="bg-light p8">
                    <span class="fw600 pl5 lh30"> 消息通知</span>
                    <span class="label label-warning label-sm pull-right lh20 h-20 mt5 mr5">0</span>
                </li>
                <li class="p10 br-t item-1">
                    <div class="media">
                        <a class="media-left" href="#"> <img src="/img/avatars/2.jpg" class="mw40" alt="holder-img"> </a>
                        <div class="media-body va-m">
                            <h5 class="media-heading mv5">Article
                                <small class="text-muted">- 08/16/22</small>
                            </h5>
                            待开发......
                            <a class="text-system" href="#"> Max </a>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="flag-xs-ch flag-ch"></span>
                <span class="fw600">CH</span>
            </a>
            <ul class="dropdown-menu animated animated-short flipInX" role="menu">
                <li>
                    <a href="javascript:void(0);" class="fw600">
                        <span class="flag-xs flag-us mr10"></span> USA </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="fw600">
                        <span class="flag-xs flag-tr mr10"></span> Turkish </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="fw600">
                        <span class="flag-xs flag-es mr10"></span> Spanish </a>
                </li>
            </ul>
        </li>
        <li class="ph10 pv20"><i class="fa fa-circle text-tp fs8"></i>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown"> <img src="/img/avatars/21.png" alt="avatar" class="mw30 br64 mr15">
                <span id="admin_name">游客</span>
                <span class="caret caret-tp"></span>
            </a>
            <ul class="dropdown-menu dropdown-persist pn w150 bg-white" role="menu">
                <li class="br-t of-h">
                    <a href="#" class="fw600 p12 animated animated-short fadeInUp">
                        <span class="fa fa-user pr5"></span> 修改密码
                    </a>
                </li>
                <li class="br-t of-h">
                    <a href="#" class="fw600 p12 animated animated-short fadeInDown">
                        <span class="fa fa-gear pr5"></span> 系统设置  </a>
                </li>
                <li class="br-t of-h">
                    <a href="/logout" class="fw600 p12 animated animated-short fadeInDown">
                        <span class="fa fa-power-off pr5"></span> 注  销 </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<!-- End: Header -->