<!-- Start: Sidebar Header -->
<header class="sidebar-header">
    <div class="user-menu" style="height: 75px;">
        <div class="row text-center mbn">
            <div class="col-xs-4">
                <a href="/system/uploadSftp" class="text-primary" data-toggle="tooltip" data-placement="top" title="上传sftp">
                    <span class="glyphicons glyphicons-cloud-upload"></span>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="/system/downloadSftp" class="text-info" data-toggle="tooltip" data-placement="top" title="下载回盘文件">
                    <span class="glyphicons glyphicons-cloud-download"></span>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="/system/checkReturnFile" class="text-alert" data-toggle="tooltip" data-placement="top" title="验证回盘文件">
                    <span class="glyphicons glyphicons-check"></span>
                </a>
            </div>
        </div>
    </div>
</header>