<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjzc.manage.core.mapper.download.JobMapper">

	<insert id="addJob" parameterType="ScheduleJob">
		insert into t_scheduleJob (uuid,name,cron,status,auto_start,create_date,creator,edit_date ,editor,is_del)values(#{uuid},#{name},#{cron},0,1,NOW(),'SYS',NOW(),'SYS',0)
	</insert>

	<update id="updateJobStatus" parameterType="ScheduleLog">
		update t_scheduleJob set status=#{status} where id=#{id}
	</update>

	<insert id="addJobLog" parameterType="ScheduleLog" useGeneratedKeys="true" keyProperty="id">
		insert into t_scheduleLog (uuid,begin_time,status,error_msg,create_date,creator,edit_date ,editor,is_del)values(#{uuid},NOW(),#{status},#{errorMsg},NOW(),'SYS',NOW(),'SYS',0)
	</insert>

	<update id="updateJobLog" parameterType="ScheduleLog">
		update t_scheduleLog set status=#{status},end_time=NOW(),run_duration=#{runDuration},error_msg=#{errorMsg} where id=#{id}
	</update>

	<select id="queryScheduleJob" parameterType="java.lang.String" resultType="ScheduleJob">
		select id ,uuid ,name ,cron  ,status ,auto_start,create_date,creator,edit_date ,editor,is_del
		from t_scheduleJob  where uuid=#{0} and is_del = 0
	</select>

	<select id="queryLogCount" parameterType="java.util.Map" resultType="java.lang.Long">
		select count(1) from t_scheduleLog  where uuid=#{id} and is_del = 0
	</select>

	<select id="queryLogList" parameterType="java.util.Map" resultType="java.util.HashMap">
		select a.id,b.name,a.status,a.begin_time beginTime,a.end_time endTime,a.run_duration runDuration,a.error_msg errorMsg
		from t_scheduleLog  a, t_scheduleJob  b
		where a.uuid=b.uuid and a.uuid=#{id}
		order by a.id desc
		limit #{start},#{end}
	</select>

</mapper>